{
	"extends": "stylelint-config-standard",
  "rules": {
    "color-hex-length": null,
    "unit-case": null,
    "number-leading-zero": null,
    "selector-pseudo-element-colon-notation": "single",
    "unit-no-unknown": [true, {
      "ignoreUnits": ["rpx"]
    }],
    "property-no-unknown": [true, {
      "ignoreProperties": ["box-orient"]
    }],
    "selector-type-no-unknown": [true, {
      "ignoreTypes": ["page","button","view","text"]
    }]
  }
}
